/* List of Users */
.user {
    display: flex;
    padding: 20px 40px;
    align-items: center;
    margin-left: 0;
    background: linear-gradient(186.5deg, #3c3e64 0.83%, #1d1e2a 100%);
    box-shadow: 0 1px 0 #ffffff, 0px -1px 0px #ffffff;
    list-style: none;
    color: #fff;
    img {
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }
    .info-wrapper {
        margin-left: 16px;
    }
    .pay-button {
        margin-left: auto;
    }    
    }