<form (ngSubmit)="onSubmit(payForm)"  [formGroup]="payForm">
  <input type="hidden" [value] = 'userChoice' formControlName="userChoice"/>
  <div class="payment">
    <input 
      type="text"
      currencyMask
      [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
      placeholder="R$ 0,00"
      required
      id="amount"
      formControlName="amount"
    />
    
    <div class="cards">
      <select formControlName="card" required >
        <option
          [value]="wallet.token" 
          *ngFor="let wallet of wallets"
        > Cartão com final {{wallet.mask_number}}</option>
      </select>
    </div>
    <button type="submit" [disabled]="!payForm.valid" class="pay-button">
      Pagar
    </button>
  </div>
</form>
