<ul class="users">
  <button (click)="openModal('custom-modal-1')">Open Modal 2</button>
  <app-item-user *ngFor="let user of users"
    name = "{{user.name}}"
    id = "{{user.id}}"
    username = "{{user.username}}"
    img = "{{user.img}}"
  >
  </app-item-user>
</ul>

<app-modal id="custom-modal-1">  
  <div class="modal-backdrop">
    <div class="modal">
      <div class="title">Pagamento para <span>Nome do Usuário</span></div>

      <div class="content">
        <input type="number" placeholder="R$ 0,00" />

        <div class="cards">
          <select>
            <option selected>Cartão com final 0123</option>
          </select>
        </div>

        <button type="button" class="pay-button">
          Pagar
        </button>
      </div>
    </div>
  </div>

  <button (click)="closeModal('custom-modal-1');">Close</button>
</app-modal>