<!--  USERS payment list -->
<ul class="users">
  <app-item-user *ngFor="let user of users"
    name = "{{user.name}}"
    id = "{{user.id}}"
    username = "{{user.username}}"
    img = "{{user.img}}"
  >
    <button type="button" class="pay-button" (click)="openModal('pay-modal', user.id);" >
        Pagar
    </button>
  </app-item-user>
</ul>


<!-- MODAL payment/conclusion -->
<app-modal id="pay-modal">  
  <button (click)="closeModal('pay-modal');">Fechar</button>
    <div class="modal">
      <div class="title">
        <div *ngIf="!statusConclusion">
          Pagamento para <span>{{(userChoice||{}).name}}</span>
        </div>
        <div *ngIf="statusConclusion" >
          Recibo de pagamento
        </div>
      </div>
      <div class="content">
        <app-payment
          *ngIf="!statusConclusion"
          [reciverConclusion]="statusConclusion"
          (conclusion)="reciverFeedbackPay($event)"
          userChoice = "{{(userChoice||{}).id}}"
        ></app-payment>
        <app-conclusion 
          *ngIf="statusConclusion"
          status="{{statusConclusion}}"
        ></app-conclusion>
      </div>
    </div>
</app-modal>