/* modal style */
app-modal {
    display: none;
    .app-modal {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        z-index: 1000;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }

    .app-modal-body {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .app-modal-background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: #000;
        opacity: 0.75;
        
        z-index: 900;
    }
      
    .modal {
        background: #fff;
        margin: 32px 0;
        width: 420px;

        &.hidden {
            display: none;
          }
      
        &::after {
            content: "";      
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            background: rgba(0, 0, 0, 0.5);
        }
    
        & > .title {
            background: #474971;
            color: #ffffff;
            font-weight: 500;
            font-size: 16px;
            padding: 16px 24px;
            
            & > span {
                color: #cddc39;
            }
        }
        
    
        & > .content {
            padding: 32px;
            text-align: center;
            & > input {
                border: 1px solid #ccc;
                border-radius: 6px;
                font-size: 32px;
                height: 48px;
                padding: 0 8px;
            }
            .cards > select {
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 6px;
                font-size: 32px;
                height: 48px;
                margin-top: 12px;
            }
            & > button {
                border: 1px solid #ccc;
                border-radius: 6px;
                font-size: 32px;
                height: 48px;
                padding: 0 8px;
                margin-top: 24px;
            }
        }
    }
}

body.app-modal-open {
    overflow: hidden;
}
